In [1]:
# data fetching notebook

In [2]:
# importing the needed packages
import requests
import pandas as pd
from tqdm import tqdm

In [3]:
# fetching the target column
label_df = pd.read_csv(r"../csv_files/dialect_dataset.csv", index_col="id")
label_df

                    dialect
id
1175358310087892992      IQ
1175416117793349632      IQ
1175450108898565888      IQ
1175471073770573824      IQ
1175496913145217024      IQ
...                     ...
1019484980282580992      BH
1021083283709407232      BH
1017477537889431552      BH
1022430374696239232      BH
1022409931029458944      BH

[458197 rows x 1 columns]

In [4]:
# fetching the text column
idx = label_df.index.astype("str").tolist()
api_url = "https://recruitment.aimtechnologies.co/ai-tasks"
# timeout = 55
data_df = {}

In [5]:
for j in tqdm(range(0, len(idx), 1000)):
    payload = idx[j:j+1000]
    data_df.update(requests.post(api_url, json=payload).json())

100%|████████████████████████████████████████████████████████████████████████████████| 459/459 [14:01<00:00,  1.83s/it]

In [6]:
raw_txt_df = pd.DataFrame.from_dict(data_df, orient='index', columns=['raw_txt'])
raw_txt_df.index.name = "id"
raw_txt_df.index = raw_txt_df.index.astype("int64")
raw_txt_df

                                                               raw_txt
id
1175358310087892992   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
1175450108898565888                    @KanaanRema مبين من كلامه خليجي
1175471073770573824         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
1175496913145217024                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺
...                                                                ...
1019484980282580992              @Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
1021083283709407232       @Zzainabali @P_ameerah والله ماينده ابش يختي
1017477537889431552  @Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
1022430374696239232        @haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
1022409931029458944          @jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

[458197 rows x 1 columns]

In [7]:
raw_txt_df.to_csv("../csv_files/raw_txt_df.csv")

In [ ]:
# df = pd.merge(txt_df, label_df, left_index=True, right_index=True)
# df = pd.concat([txt_df, label_df], axis=1)
# df