In [1]:
# data fetching notebook

In [2]:
# importing the needed packages
import requests
import pandas as pd
from tqdm import tqdm

In [3]:
# fetching the target column
label_df = pd.read_csv(r"D:\aim\ML_NLP-Task\dialect_dataset.csv", index_col="id")
label_df

                    dialect
id
1175358310087892992      IQ
1175416117793349632      IQ
1175450108898565888      IQ
1175471073770573824      IQ
1175496913145217024      IQ
...                     ...
1019484980282580992      BH
1021083283709407232      BH
1017477537889431552      BH
1022430374696239232      BH
1022409931029458944      BH

[458197 rows x 1 columns]

In [4]:
# fetching the text column
idx = label_df.index.astype("str").tolist()
api_url = "https://recruitment.aimtechnologies.co/ai-tasks"
timeout = 55
data_df = {}

In [ ]:
for j in tqdm(range(0, len(idx), 1000)):
    payload = idx[j:j+1000]
    data_df.update(requests.post(api_url, json=payload, timeout=timeout).json())

  5%|████                                                                             | 23/459 [00:25<07:53,  1.09s/it]

In [ ]:
text_df = pd.DataFrame.from_dict(data_df, orient='index', columns=['text'])
text_df.index.name = "id"
text_df.index = text_df.index.astype("int64")

In [ ]:
raw_df = pd.concat([text_df, label_df], axis=1)
# raw_df = pd.merge(text_df, label_df, left_index=True, right_index=True)
raw_df

In [ ]:
raw_df.to_csv("raw_df.csv"
              # , index=False
             )